${ head.html.template() }
      <div class="mw8 center">
        <h1 class="f-subheadline-ns f1 lh-solid white-90 pb2 mv0">$title$</h1>
      </div>
    </header>
    <main class="mw8 center pa2 pv5">
      <article class="lh-copy cf">
        $body$
      </article>
    </main>
${ tail.html.template() }