${ head.html.template() }
      <div class="mw8 center">
        <h1 class="f-subheadline lh-solid white-90 pb2 mv0">$title$</h1>
      </div>
    </header>
    <main class="mw8 center">
      <article class="measure-wide lh-copy cf">
        $body$
      </article>
    </main>
${ tail.html.template() }      