${ head.html.template() }
      <div class="mw8 center ph3 pb3">
        <h1 class="f-subheadline-ns f1 lh-solid white-90 mv0 tc tl-ns">$title$</h1>
      </div>
    </header>
    <main class="mw8 center pa3 pv5">
      <article class="lh-copy cf">
        $body$
      </article>
    </main>
${ tail.html.template() }