@import url('https://fonts.googleapis.com/css2?family=Lato&family=Patua+One&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Patua One', cursive, serif;
}

p,ul,ol {
  line-height: 1.5; /* per lh-copy */
}

header {
  position: relative
}

#background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #175733;
}

#background > svg {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #1D6F42;
  color: white;
}